In [ ]:
#đề xuất dựa trên xếp hạng đánh giá

In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('movies_data.csv')

In [3]:
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')

In [4]:
movies.head(3)

,Unnamed: 0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [5]:
q_movies = movies[['title','vote_average','vote_count']]

In [6]:
q_movies.head(3)

              title  vote_average  vote_count
0         Toy Story           7.7      5415.0
1           Jumanji           6.9      2413.0
2  Grumpier Old Men           6.5        92.0

In [7]:
C = q_movies['vote_average'].mean()

print(C)

6.052116666666665

In [8]:
m = q_movies['vote_count'].quantile(0.90)
print(m)

521.0

In [9]:
q_movies = q_movies.copy().loc[q_movies['vote_count'] >= m]

In [10]:
q_movies.shape

(601, 3)

In [11]:
q_movies.head()

        title  vote_average  vote_count
0   Toy Story           7.7      5415.0
1     Jumanji           6.9      2413.0
5        Heat           7.7      1886.0
9   GoldenEye           6.6      1194.0
15     Casino           7.8      1343.0

In [12]:
def weighted_rating(movies, m=m, C=C):
    v = movies['vote_count']
    R = movies['vote_average']
    
    return (v/(v+m) * R) + (m/(m+v) * C)

In [13]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [14]:
q_movies.head()

        title  vote_average  vote_count     score
0   Toy Story           7.7      5415.0  7.555366
1     Jumanji           6.9      2413.0  6.749439
5        Heat           7.7      1886.0  7.343312
9   GoldenEye           6.6      1194.0  6.433558
15     Casino           7.8      1343.0  7.311455

In [15]:
q_movies = q_movies.sort_values('score',ascending=False)

In [16]:
q_movies.head(20)

,title,vote_average,vote_count,score
314,The Shawshank Redemption,8.5,8358.0,8.356364
834,The Godfather,8.5,6024.0,8.305142
2843,Fight Club,8.3,9678.0,8.185170
292,Pulp Fiction,8.3,8670.0,8.172577
351,Forrest Gump,8.2,8147.0,8.070899
522,Schindler's List,8.3,4436.0,8.063739
5481,Spirited Away,8.3,3968.0,8.039107
1154,The Empire Strikes Back,8.2,5998.0,8.028341
2211,Life Is Beautiful,8.3,3643.0,8.018745
1178,The Godfather: Part II,8.3,3418.0,8.002679
289,Leon: The Professional,8.2,4293.0,7.967543
1152,One Flew Over the Cuckoo's Nest,8.3,3001.0,7.967477
3030,The Green Mile,8.2,4166.0,7.961244
256,Star Wars,8.1,6778.0,7.953823
46,Se7en,8.1,5915.0,7.934222
1170,GoodFellas,8.2,3211.0,7.900148
1176,Psycho,8.3,2405.0,7.899745
2216,American History X,8.2,3120.0,7.892654
4863,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,7.892187
586,The Silence of the Lambs,8.1,4549.0,7.889557

In [ ]:
#Content-Based Recommendation System

In [17]:
movies.shape

(6000, 25)

In [19]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
movies['id'] = movies['id'].astype('int')

In [20]:
movies = movies.merge(credits, on='id')
movies = movies.merge(keywords, on='id')

In [21]:
movies.head(1)

,Unnamed: 0_x,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,tagline,title,video,vote_average,vote_count,Unnamed: 0_y,cast,crew,Unnamed: 0,keywords
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,NaN,Toy Story,False,7.7,5415.0,0,"['Tom Hanks', 'Tim Allen', 'Don Rickles']",John Lasseter,0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."

In [22]:
df_movies = movies[['id','overview','title']]

In [23]:
df_movies.head(10)

,id,overview,title
0,862,"Led by Woody, Andy's toys live happily in his ...",Toy Story
1,8844,When siblings Judy and Peter discover an encha...,Jumanji
2,15602,A family wedding reignites the ancient feud be...,Grumpier Old Men
3,31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale
4,11862,Just when George Banks has recovered from his ...,Father of the Bride Part II
5,949,"Obsessive master thief, Neil McCauley leads a ...",Heat
6,11860,An ugly duckling having undergone a remarkable...,Sabrina
7,45325,"A mischievous young boy, Tom Sawyer, witnesses...",Tom and Huck
8,9091,International action superstar Jean Claude Van...,Sudden Death
9,710,James Bond must unmask the mysterious head of ...,GoldenEye

In [24]:
df_movies.shape

(6006, 3)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')

In [26]:
df_movies['overview'] = df_movies['overview'].fillna('')

<ipython-input-26-0c411d008874>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['overview'] = df_movies['overview'].fillna('')

In [27]:
tfidf_matrix = tfidf.fit_transform(df_movies['overview'])

In [28]:
tfidf_matrix.shape

(6006, 24564)

In [29]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [30]:
cosine_sim[0]

array([1.        , 0.01750878, 0.        , ..., 0.        , 0.        ,
       0.        ])

In [31]:
def get_recommendation(movie):
    movie_index = df_movies[df_movies['title'] == movie].index[0]
    distances = cosine_sim[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    
    for i in movies_list:
        print(i[0], df_movies.iloc[i[0]].title)

In [32]:
get_recommendation('Dracula: Dead and Loving It')

181 Nadja
3911 Dracula 2000
1298 Dracula
5518 Horror of Dracula
451 Fresh
5361 Nosferatu the Vampyre
5126 Blade II
5573 Without Warning
2064 Blade
1679 Tainted

In [33]:
get_recommendation('Father of the Bride Part II')

5011 Wendigo
933 It's a Wonderful Life
5577 All Night Long
5755 Another You
1522 George of the Jungle
4118 Blow
555 Killer
5825 Two Weeks Notice
2829 Niagara
2906 Creepshow

In [ ]:
#keywords,cast,crew,genres - recommender

In [34]:
new_movies = movies[['genres','id','title','cast','crew','keywords']]

In [35]:
new_movies.head(1)

,genres,id,title,cast,crew,keywords
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,"['Tom Hanks', 'Tim Allen', 'Don Rickles']",John Lasseter,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."

In [37]:
from ast import literal_eval

features = ['keywords', 'genres']
for feature in features:
    new_movies[feature] = new_movies[feature].apply(literal_eval)

<ipython-input-37-b8271de28cec>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies[feature] = new_movies[feature].apply(literal_eval)

In [38]:
new_movies.shape

(6006, 6)

In [39]:
def get_list(obj):
    if isinstance(obj, list):
        names = [i['name'] for i in obj]
        
        if len(names) > 3:
            names = names[:3]
        return names

    return []

In [40]:
features = ['genres','keywords']

for i in features:
    new_movies[i] = new_movies[i].apply(get_list)

<ipython-input-40-92abfdc47e40>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies[i] = new_movies[i].apply(get_list)

In [41]:
new_movies.head(1)

,genres,id,title,cast,crew,keywords
0,"[Animation, Comedy, Family]",862,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]"

In [46]:

def clean_data(obj):
    if isinstance(obj, list):
        return [str.lower(i.replace(" ", "")) for i in obj]
    else:
        
        if isinstance(obj, str):
            return str.lower(obj.replace(" ", ""))
        else:
            return ''

In [47]:
features = ['cast', 'keywords', 'crew', 'genres']

for feature in features:
    new_movies[feature] = new_movies[feature].apply(clean_data)

In [48]:
new_movies.head(1)

,genres,id,title,cast,crew,keywords
0,"[animation, comedy, family]",862,Toy Story,"[tomhanks, timallen, donrickles]",johnlasseter,"[jealousy, toy, boy]"

In [49]:
def create_tags(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['crew'] + ' ' + ' '.join(x['genres'])

In [50]:
new_movies['tags'] = new_movies.apply(create_tags, axis=1)

In [51]:
new_movies.head(1)

,genres,id,title,cast,crew,keywords,tags
0,"[animation, comedy, family]",862,Toy Story,"[tomhanks, timallen, donrickles]",johnlasseter,"[jealousy, toy, boy]",jealousy toy boy tomhanks timallen donrickles ...

In [52]:
new_movies = new_movies[['id','title','tags']]

In [53]:
new_movies.head(10)

,id,title,tags
0,862,Toy Story,jealousy toy boy tomhanks timallen donrickles ...
1,8844,Jumanji,boardgame disappearance basedonchildren'sbook ...
2,15602,Grumpier Old Men,fishing bestfriend duringcreditsstinger walter...
3,31357,Waiting to Exhale,basedonnovel interracialrelationship singlemot...
4,11862,Father of the Bride Part II,baby midlifecrisis confidence stevemartin dian...
5,949,Heat,robbery detective bank alpacino robertdeniro v...
6,11860,Sabrina,paris brotherbrotherrelationship chauffeur har...
7,45325,Tom and Huck,jonathantaylorthomas bradrenfro rachaelleighc...
8,9091,Sudden Death,terrorist hostage explosive jean-claudevandamm...
9,710,GoldenEye,cuba falselyaccused secretidentity piercebrosn...

In [54]:
new_movies.shape

(6000, 3)

In [55]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(new_movies['tags'])

In [56]:
count_matrix.shape

(6000, 13842)

In [57]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix)

In [58]:
cosine_sim2[1]

array([0.09534626, 1.        , 0.        , ..., 0.        , 0.        ,
       0.        ])

In [59]:
def recommend(movie):
    movie_index = new_movies[new_movies['title'] == movie].index[0]
    distances = cosine_sim2[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    
    for i in movies_list:
        print(i[0], new_movies.iloc[i[0]].title)

In [60]:
recommend('Dracula: Dead and Loving It')

2208 History of the World: Part I
2943 Spaceballs
3527 The Twelve Chairs
515 Robin Hood: Men in Tights
2207 The Producers
365 The Naked Gun 33⅓: The Final Insult
732 Spy Hard
1254 Young Frankenstein
3576 Blazing Saddles
3772 The Naked Gun 2½: The Smell of Fear

In [61]:
recommend('The Godfather: Part II')

1934 The Godfather: Part III
841 The Godfather
5793 True Confessions
1186 Apocalypse Now
1648 Ill Gotten Gains
3331 Do the Right Thing
3487 Jails, Hospitals & Hip-Hop
5 Heat
426 Carlito's Way
1084 Glengarry Glen Ross